
<app-botton-aside-comoponent (showAsideChange)="onShowAsideChange($event)" ></app-botton-aside-comoponent>
<section class="" [style.display]="showAside">
    <aside class="main_aside ">
       
        <header class="main_aside_header" >
            <img src="https://sena.edu.co/Style%20Library/alayout/images/logoSena.png" alt="logo" id="logo">
        </header>

        <article class="main_aside_usuarios">
            <figure>
                    <img src="" alt="">
            </figure>
            <p>
                 usuarios
            </p>
        </article>

        <article class="main_aside_material">
            Material
        </article>
    </aside>
</section>
