<section class="container table-responsive">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <br>
    <table class="table  table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo de material</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Ficha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudes">
            <td>{{ solicitud.nombre }}</td>
            <td>{{ solicitud.tipo }}</td>
            <td>{{ solicitud.cantidad }}</td>
            <td>{{ solicitud.descripcion }}</td>
            <td>{{ solicitud.ficha }}</td>
            <td>
                <!-- (click)="aceptarSolicitud(solicitud)" -->
              <button class="btn btn-success m-2">Aceptar</button>
              <button class="btn btn-danger m-2" (click)="rechazarSolicitud(solicitud)">Rechazar</button>
            </td>
          </tr>
        </tbody>
      </table>
</section>
