<section class="container-cards">
    <article class="card" style="width: 18rem" routerLink="/home/store/create-solicitud">
        <img src="assets/solicitudes.png" class="card-img" alt="inventario.png" />
        <div class="card-ad-overlay">
          <div class="card-ad-text">Crear</div>
        </div>
      </article>
    
      <article class="card" style="width: 18rem" routerLink="/home/store/solicitudes" >
        <img src="assets/aceptarSolicitudes.png" class="card-img" alt="..." />
        <div class="card-ad-overlay">
          <div class="card-ad-text">Pendientes</div>
        </div>
      </article>
    
      <article class="card" style="width: 18rem" routerLink="/proveedores">
        <img src="assets/rechazado.png" class="card-img" alt="..." />
        <div class="card-ad-overlay">
          <div class="card-ad-text">Rechazadas</div>
        </div>
      </article>
</section>
