<section class="container  " >
    <div class="table-responsive ">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Material</th>
              <th>Descripción</th>
              <th>Descripción del Rechazo</th>
              <th>Fecha del Rechazo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Martin</td>
              <td>Tela fria</td>
              <td>Necesito tela fria par unas camisas que vamos a realizar en la ficha</td>
              <td>El producto no esta disponible</td>
              <td>2022-02-28</td>
            </tr>
            <tr>
              <td>Carlog Gutierrez</td>
              <td>cuero</td>
              <td> necesito cuero para reazlizar una actividad</td>
              <td>La soliciud no esta bien desarrollada</td>
              <td>2022-03-02</td>
            </tr>
            <tr>
              <td>Producto C</td>
              <td>Material Z</td>
              <td>Descripción del producto C</td>
              <td>El producto está dañado</td>
              <td>2022-03-05</td>
            </tr>
          </tbody>
        </table>
      </div>
      
</section>
