// Declaración de variables
$menu-toggle-color: #000; // color de las líneas del icono del menú
$menu-toggle-size: 2rem; // tamaño del icono del menú
$menu-toggle-spacing: 10px; // espacio entre el icono del menú y el borde superior e izquierdo del contenedor

// Estilos para el icono de menú
.menu-toggle {
  position: absolute; // posición absoluta del elemento en relación al elemento padre
  top: $menu-toggle-spacing; // distancia del borde superior del contenedor
  left: $menu-toggle-spacing; // distancia del borde izquierdo del contenedor
  z-index: 1; // índice z del elemento
  cursor: pointer; // estilo del cursor al pasar sobre el elemento
  width: $menu-toggle-size; // ancho del icono del menú
  height: $menu-toggle-size; // altura del icono del menú

  // Estilos para las líneas del icono
  .line {
    position: absolute; // posición absoluta del elemento en relación al elemento padre
    width: 100%; // ancho del elemento
    height: 3px; // altura de las líneas del icono del menú
    background-color: $menu-toggle-color; // color de las líneas del icono del menú
    transition: transform 0.3s ease; // transición de transformación con duración de 0.3 segundos y una función de aceleración suave
  }

  .top-line {
    top: 0; // posición superior de la línea superior del icono del menú
  }

  .middle-line {
    top: 50%; // posición vertical de la línea media del icono del menú
    transform: translateY(-50%); // desplazamiento vertical de la línea media del icono del menú para que esté en el centro vertical
  }

  .bottom-line {
    bottom: 0; // posición inferior de la línea inferior del icono del menú
  }

  // Estilos para el icono de menú activo (cuando se hace clic)
  &.active {
    .top-line {
      transform: rotate(45deg) translate(5px, 5px); // rotación y desplazamiento de la línea superior para crear una X
    }

    .middle-line {
        transform: rotate(-45deg) translate(5px, -5px); // rotación y desplazamiento de la línea media para crear una X
      
    }

    .bottom-line {
      opacity: 0; // se oculta la línea inferior
    }
  }
}