<section class="container table-responsive">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <br>
  <hr>
  <h3>
    Table name 
  </h3>

  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Color</th>
      <th scope="col">Cantiadad</th>
      <th scope="col">Cantiadad en prestamo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td><input type="text" class="form-control" [(ngModel)]="item.name" [disabled]="!isEditing"></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.color" [disabled]="!isEditing"></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.availableQuantity" [disabled]="!isEditing"></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.borrowedQuantity" [disabled]="!isEditing"></td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteRow(i)" [disabled]="!isEditing">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<app-graph-table></app-graph-table>

<button class="btn btn-primary m-2" (click)="editTable()" [hidden]="isEditing">Editar</button> 
<button class="btn btn-primary m-2"  (click)="toggleChart()" >Mostrar gráfica</button>
<button class="btn btn-success m-2" (click)="saveTable()" [hidden]="!isEditing">Guardar</button>
<button class="btn btn-info m-2" (click)="addRow()" [hidden]="!isEditing">Agregar</button>
</section>