<section
  class="container-cards container d-flex justify-content-center align-items-center flex-wrap gap-5 min-height: 100vh"
>
  <article class="card" style="width: 18rem" routerLink="/home/store/inventory">
    <img src="assets/inventario.png" class="card-img" alt="inventario.png" />
    <div class="card-ad-overlay">
      <div class="card-ad-text">Inventario</div>
    </div>
  </article>

  <article class="card" style="width: 18rem" routerLink="/home/store/requests-selection" >
    <img src="assets/flujo-de-trabajo.png" class="card-img" alt="..." />
    <div class="card-ad-overlay">
      <div class="card-ad-text">Solicitudes</div>
    </div>
  </article>

  <article class="card" style="width: 18rem" routerLink="/proveedores">
    <img src="assets/proveedor.png" class="card-img" alt="..." />
    <div class="card-ad-overlay">
      <div class="card-ad-text">Provedores</div>
    </div>
  </article>
</section>
